### Comparing a set of datasets with the dataset popularity listing

This is an attempt to use the dataset popularity listing to to select the most relevant samples among a list of MC samples proposed as legacy.

In [1]:
import pandas as pd
from pandas.io.json import json_normalize

The dataset listing is from CMSDAS (https://cmsweb.cern.ch/das/request?view=plain&limit=50&instance=prod%2Fglobal&input=dataset%3D%2F*%2F*START42*%2FAODSIM)

Read it in to a dataframe.

In [2]:
datasets = pd.read_csv('datasets.txt', sep=" ", header=None)

In [3]:
datasets.head()

                                                   0
0  /2B1Jet_TuneZ2_7TeV-alpgen-pythia6/Fall11-PU_S...
1  /2B2C1Jet_TuneZ2_7TeV-alpgen-pythia6/Fall11-PU...
2  /2B2C_TuneZ2_7TeV-alpgen-pythia6/Fall11-PU_S6_...
3  /2B2Jets_TuneZ2_7TeV-alpgen-pythia6/Fall11-PU_...
4  /2B3Jets_TuneZ2_7TeV-alpgen-pythia6/Fall11-PU_...

The dataset popularity json file is from https://cmsweb.cern.ch/popdb/popularity/dataSetTable

Read it in to a dataframe.

In [4]:
datapop = pd.read_json('datasets_start2010-01-01_stop2012-03-31.json')

In [5]:
datapop.head()

                                                DATA SITENAME
0  {'NACC': 2900135, 'TOTCPU': 3296253, 'NUSERS':...  summary
1  {'NACC': 2026464, 'TOTCPU': 2056789, 'NUSERS':...  summary
2  {'NACC': 1026045, 'TOTCPU': 2053499, 'NUSERS':...  summary
3  {'NACC': 1262370, 'TOTCPU': 1915483, 'NUSERS':...  summary
4  {'NACC': 1537482, 'TOTCPU': 1765946, 'NUSERS':...  summary

It comes in two parts, DATA and SITENAME, but only the DATA part is relevant in this context:

In [6]:
datapop['DATA']

0        {'NACC': 2900135, 'TOTCPU': 3296253, 'NUSERS':...
1        {'NACC': 2026464, 'TOTCPU': 2056789, 'NUSERS':...
2        {'NACC': 1026045, 'TOTCPU': 2053499, 'NUSERS':...
3        {'NACC': 1262370, 'TOTCPU': 1915483, 'NUSERS':...
4        {'NACC': 1537482, 'TOTCPU': 1765946, 'NUSERS':...
5        {'NACC': 987978, 'TOTCPU': 1167262, 'NUSERS': ...
6        {'NACC': 923959, 'TOTCPU': 1059471, 'NUSERS': ...
7        {'NACC': 2851106, 'TOTCPU': 966514, 'NUSERS': ...
8        {'NACC': 500687, 'TOTCPU': 922797, 'NUSERS': 1...
9        {'NACC': 15017490, 'TOTCPU': 900783, 'NUSERS':...
10       {'NACC': 688387, 'TOTCPU': 861974, 'NUSERS': 8...
11       {'NACC': 657485, 'TOTCPU': 746178, 'NUSERS': 1...
12       {'NACC': 329100, 'TOTCPU': 712978, 'NUSERS': 6...
13       {'NACC': 391693, 'TOTCPU': 689265, 'NUSERS': 8...
14       {'NACC': 284142, 'TOTCPU': 634980, 'NUSERS': 1...
15       {'NACC': 437517, 'TOTCPU': 567978, 'NUSERS': 1...
16       {'NACC': 243920, 'TOTCPU': 556346, 'NUSERS': 2...
17       {'NACC': 372533, 'TOTCPU': 526752, 'NUSERS': 1...
18       {'NACC': 502407, 'TOTCPU': 511015, 'NUSERS': 1...
19       {'NACC': 266827, 'TOTCPU': 500898, 'NUSERS': 7...
20       {'NACC': 190192, 'TOTCPU': 463634, 'NUSERS': 5...
21       {'NACC': 339397, 'TOTCPU': 459837, 'NUSERS': 6...
22       {'NACC': 184879, 'TOTCPU': 445060, 'NUSERS': 4...
23       {'NACC': 329509, 'TOTCPU': 434610, 'NUSERS': 1...
24       {'NACC': 886322, 'TOTCPU': 429595, 'NUSERS': 8...
25       {'NACC': 141610, 'TOTCPU': 414131, 'NUSERS': 9...
26       {'NACC': 232986, 'TOTCPU': 411594, 'NUSERS': 5...
27       {'NACC': 573031, 'TOTCPU': 401126, 'NUSERS': 1...
28       {'NACC': 522513, 'TOTCPU': 394706, 'NUSERS': 1...
29       {'NACC': 1343200, 'TOTCPU': 394044, 'NUSERS': ...
                               ...
26948    {'NACC': 6725, 'TOTCPU': 0, 'NUSERS': 13, 'COL...
26949    {'NACC': 71, 'TOTCPU': 0, 'NUSERS': 2, 'COLLNA...
26950    {'NACC': 928, 'TOTCPU': 0, 'NUSERS': 4, 'COLLN...
26951    {'NACC': 49755, 'TOTCPU': 0, 'NUSERS': 95, 'CO...
26952    {'NACC': 8, 'TOTCPU': 0, 'NUSERS': 2, 'COLLNAM...
26953    {'NACC': 3, 'TOTCPU': 0, 'NUSERS': 3, 'COLLNAM...
26954    {'NACC': 806, 'TOTCPU': 0, 'NUSERS': 4, 'COLLN...
26955    {'NACC': 1962, 'TOTCPU': 0, 'NUSERS': 3, 'COLL...
26956    {'NACC': 17, 'TOTCPU': 0, 'NUSERS': 2, 'COLLNA...
26957    {'NACC': 2, 'TOTCPU': 0, 'NUSERS': 2, 'COLLNAM...
26958    {'NACC': 12, 'TOTCPU': 0, 'NUSERS': 1, 'COLLNA...
26959    {'NACC': 1, 'TOTCPU': 0, 'NUSERS': 1, 'COLLNAM...
26960    {'NACC': 2, 'TOTCPU': 0, 'NUSERS': 2, 'COLLNAM...
26961    {'NACC': 1, 'TOTCPU': 0, 'NUSERS': 1, 'COLLNAM...
26962    {'NACC': 2, 'TOTCPU': 0, 'NUSERS': 2, 'COLLNAM...
26963    {'NACC': 672, 'TOTCPU': 0, 'NUSERS': 17, 'COLL...
26964    {'NACC': 2, 'TOTCPU': 0, 'NUSERS': 1, 'COLLNAM...
26965    {'NACC': 1, 'TOTCPU': 0, 'NUSERS': 1, 'COLLNAM...
26966    {'NACC': 711, 'TOTCPU': 0, 'NUSERS': 4, 'COLLN...
26967    {'NACC': 2, 'TOTCPU': 0, 'NUSERS': 1, 'COLLNAM...
26968    {'NACC': 9, 'TOTCPU': 0, 'NUSERS': 3, 'COLLNAM...
26969    {'NACC': 737, 'TOTCPU': 0, 'NUSERS': 1, 'COLLN...
26970    {'NACC': 6711, 'TOTCPU': 0, 'NUSERS': 5, 'COLL...
26971    {'NACC': 31, 'TOTCPU': 0, 'NUSERS': 2, 'COLLNA...
26972    {'NACC': 3, 'TOTCPU': 0, 'NUSERS': 3, 'COLLNAM...
26973    {'NACC': 61, 'TOTCPU': 0, 'NUSERS': 1, 'COLLNA...
26974    {'NACC': 266, 'TOTCPU': 0, 'NUSERS': 7, 'COLLN...
26975    {'NACC': 919, 'TOTCPU': 0, 'NUSERS': 2, 'COLLN...
26976    {'NACC': 3, 'TOTCPU': 0, 'NUSERS': 3, 'COLLNAM...
26977    {'NACC': 1926, 'TOTCPU': 0, 'NUSERS': 37, 'COL...
Name: DATA, dtype: object

In [7]:
datapop['DATA'][0]

{'COLLNAME': '/WJetsToLNu_TuneZ2_7TeV-madgraph-tauola/Summer11-PU_S4_START42_V11-v1/AODSIM',
 'NACC': 2900135,
 'NUSERS': 3667,
 'RNACC': '2.7',
 'RNUSERS': '1.3',
 'RTOTCPU': '5.2',
 'TOTCPU': 3296253}

`datapop` is a dataframe, but not in the format which is needed for data operations. Single elements in DATA contain the information we need, but we want the keys NACC, NUSERS etc in the column header.

To get a dataframe in a useful format,
see https://stackoverflow.com/questions/29681906/python-pandas-dataframe-from-series-of-dict

In [8]:
type(datapop)

pandas.core.frame.DataFrame

DATA part in the dataframe is a series:

In [9]:
type(datapop['DATA'])

pandas.core.series.Series

Each element in DATA is a dict:

In [10]:
type(datapop["DATA"].ix[0])

dict

We want the keys of this dict as column headers:

In [11]:
datapop["DATA"].ix[0].keys()

dict_keys(['NACC', 'TOTCPU', 'NUSERS', 'COLLNAME', 'RNACC', 'RNUSERS', 'RTOTCPU'])

This command from the instructions above does the magic (get a dataframe from a series of dicts...) :

In [12]:
new_df = pd.DataFrame(list(datapop['DATA']))

In [13]:
new_df.head()

,COLLNAME,NACC,NUSERS,RNACC,RNUSERS,RTOTCPU,TOTCPU
0,/WJetsToLNu_TuneZ2_7TeV-madgraph-tauola/Summer...,2900135,3667,2.7,1.3,5.2,3296253
1,/DYJetsToLL_TuneZ2_M-50_7TeV-madgraph-tauola/S...,2026464,3786,1.9,1.3,3.3,2056789
2,/TTJets_TuneZ2_7TeV-madgraph-tauola/Fall11-PU_...,1026045,948,0.9,0.3,3.2,2053499
3,/SingleMu/Run2011B-PromptReco-v1/AOD,1262370,2238,1.2,0.8,3.0,1915483
4,/SingleMu/Run2011A-PromptReco-v4/AOD,1537482,3571,1.4,1.3,2.8,1765946

Sort the dataframe for the number of users:

In [14]:
new_df.sort_values('NUSERS',ascending=False)

,COLLNAME,NACC,NUSERS,RNACC,RNUSERS,RTOTCPU,TOTCPU
1,/DYJetsToLL_TuneZ2_M-50_7TeV-madgraph-tauola/S...,2026464,3786,1.9,1.3,3.3,2056789
0,/WJetsToLNu_TuneZ2_7TeV-madgraph-tauola/Summer...,2900135,3667,2.7,1.3,5.2,3296253
4,/SingleMu/Run2011A-PromptReco-v4/AOD,1537482,3571,1.4,1.3,2.8,1765946
7,/SingleMu/Run2011A-May10ReReco-v1/AOD,2851106,3082,2.6,1.1,1.5,966514
3,/SingleMu/Run2011B-PromptReco-v1/AOD,1262370,2238,1.2,0.8,3.0,1915483
18,/DoubleMu/Run2011A-PromptReco-v4/AOD,502407,1959,0.5,0.7,0.8,511015
11,/DoubleElectron/Run2011A-PromptReco-v4/AOD,657485,1942,0.6,0.7,1.2,746178
23,/TTJets_TuneZ2_7TeV-madgraph-tauola/Summer11-P...,329509,1898,0.3,0.7,0.7,434610
40,/DoubleMu/Run2011A-May10ReReco-v1/AOD,680902,1739,0.6,0.6,0.5,312152
32,/DoubleElectron/Run2011A-May10ReReco-v1/AOD,891548,1571,0.8,0.6,0.6,351559
15,/DoubleMu/Run2011B-PromptReco-v1/AOD,437517,1506,0.4,0.5,0.9,567978
17,/SingleMu/Run2011A-PromptReco-v6/AOD,372533,1370,0.3,0.5,0.8,526752
30,/SingleElectron/Run2011A-PromptReco-v4/AOD,303267,1269,0.3,0.4,0.6,391625
6,/DYJetsToLL_TuneZ2_M-50_7TeV-madgraph-tauola/F...,923959,1266,0.9,0.4,1.7,1059471
41,/SingleMu/Run2011A-05Aug2011-v1/AOD,235372,1212,0.2,0.4,0.5,298360
28,/Photon/Run2011A-PromptReco-v4/AOD,522513,1211,0.5,0.4,0.6,394706
8,/HT/Run2011A-PromptReco-v4/AOD,500687,1202,0.5,0.4,1.5,922797
5,/WJetsToLNu_TuneZ2_7TeV-madgraph-tauola/Fall11...,987978,1180,0.9,0.4,1.8,1167262
56,/SingleElectron/Run2011A-May10ReReco-v1/AOD,332863,1165,0.3,0.4,0.3,220253
31,/DoubleElectron/Run2011B-PromptReco-v1/AOD,398873,1141,0.4,0.4,0.6,367836
45,/MuEG/Run2011A-PromptReco-v4/AOD,240613,1096,0.2,0.4,0.4,281338
27,/WJetsToLNu_TuneZ2_7TeV-madgraph-tauola/Spring...,573031,1076,0.5,0.4,0.6,401126
14,/ElectronHad/Run2011A-PromptReco-v4/AOD,284142,1049,0.3,0.4,1.0,634980
73,/DoubleMu/Run2011A-PromptReco-v6/AOD,124655,979,0.1,0.3,0.3,158379
65,/Photon/Run2011A-May10ReReco-v1/AOD,847521,965,0.8,0.3,0.3,188878
2,/TTJets_TuneZ2_7TeV-madgraph-tauola/Fall11-PU_...,1026045,948,0.9,0.3,3.2,2053499
82,/MuEG/Run2011A-May10ReReco-v1/AOD,198617,895,0.2,0.3,0.2,131467
24,/HT/Run2011A-May10ReReco-v1/AOD,886322,857,0.8,0.3,0.7,429595
33,/MuEG/Run2011B-PromptReco-v1/AOD,254711,848,0.2,0.3,0.5,339044
13,/MuOnia/Run2011A-PromptReco-v4/AOD,391693,845,0.4,0.3,1.1,689265
...,...,...,...,...,...,...,...
16061,/SUSYGluGluToHToTauTau_M-350_7TeV-pythia6-tauo...,64,1,0.0,0.0,0,0
16063,/VBF_HToWWToLNuTauNu_M-220_7TeV-powheg-pythia6...,2,1,0.0,0.0,0,0
16035,/WGToENuG_TuneZ2_7TeV-madgraph/mario-Summer11-...,53,1,0.0,0.0,0,0
16034,/ZBB0JetsToLNu_TuneZ2_7TeV-alpgen-tauola/local...,1,1,0.0,0.0,0,0
16032,/WGToENuG_madgraph_upto2jets/lgray-WGToENuG_ma...,1,1,0.0,0.0,0,0
16031,/TTToHplusBWB_M-90_7TeV-pythia6-tauola/Spring1...,2,1,0.0,0.0,0,0
16004,/SUSYBBHToMuMu_M-110_7TeV-pythia6-tauola/Summe...,1,1,0.0,0.0,0,0
16005,/HSCPgluino_M-1200_7TeV-pythia6/Summer11-PU_S4...,1,1,0.0,0.0,0,0
16007,/BHTo3B_M-150_7TeV-pythia6/Fall11-PU_S6_START4...,1,1,0.0,0.0,0,0
16009,/HTo2LongLivedTo4F_MH-1000_MFF-150_CTau-100_7T...,1,1,0.0,0.0,0,0
16010,/MultiJet/yik-2011A-PromptReco-v4-withDailyJso...,194,1,0.0,0.0,0,0
16011,/Tbar_TuneZ2_Prod_Vts_t-channel_7TeV-powheg-ta...,1,1,0.0,0.0,0,0
16013,/WToENu_TuneZ2_7TeV-pythia6/Fall11-PU_S6_START...,1,1,0.0,0.0,0,0
16014,/DYToMuMu_M-500_TuneZ2_7TeV-pythia6-tauola/jsl...,3,1,0.0,0.0,0,0
16015,/LigtStop_mgluino450_mstop175_mneut80_7TeV_CMS...,25,1,0.0,0.0,0,0
16016,/InvHiggs_mH130_GEN-SIM_426_v5/jbrooke-InvHigg...,10,1,0.0,0.0,0,0
16017,/ZJetToMuMu_Pt-30to50_TuneZ2_7TeV_pythia6/Fall...,1,1,0.0,0.0,0,0
16018,/ZJetsToNuNu_100_HT_200_7TeV-madgraph/Summer11...,1,1,0.0,0.0,0,0
16019,/RSGravitonToJJ_M-700_TuneZ2_7TeV_pythia6/Summ...,1,1,0.0,0.0,0,0
16020,/WH_ZH_TTH_HToZZTo2L2Nu_M-550_7TeV-pythia6/Spr...,2,1,0.0,0.0,0,0
16021,/QCDplus3TeVcontact_Pt300to380/Spring10-START3...,168,1,0.0,0.0,0,0
16022,/SUSYBBHToBB_M-350_7TeV-pythia6-tauola/Spring1...,1,1,0.0,0.0,0,0
16023,/Tbar_TuneZ2_s-channel_7TeV-powheg-tauola/lwmi...,15,1,0.0,0.0,0,0
16024,/GluGluToHToWWTo2L2Nu_M-140_7TeV-powheg-pythia...,1,1,0.0,0.0,0,0
16026,/GJet_PT_80toInf_TuneZ2_cJet_7TeV-pythia6/Fall...,1,1,0.0,0.0,0,0
16027,/ZH_ZToLL_HToBB_M-130_7TeV-powheg-herwigpp/Win...,2,1,0.0,0.0,0,0
16028,/LigtStop_mgluino450_mstop175_mneut100_7TeV_CM...,25,1,0.0,0.0,0,0
16029,/GluGluToHToWWToLNuQQ_M-120_7TeV-powheg-pythia...,1,1,0.0,0.0,0,0
16030,/ZJetsToLL_TuneZ2_matchingdown_7TeV-madgraph-t...,1,1,0.0,0.0,0,0
13489,/TTToHplusBWB_M-150_7TeV-pythia6-tauola/local-...,20,1,0.0,0.0,0,0

Then find out how to find in this list the dataset names in `datasets`...

In [15]:
new_df.loc[new_df['COLLNAME'] == "/DY1JetToLL_M-10To50_TuneZ2_7TeV-madgraph/Fall11-PU_S6_START42_V14B-v1/AODSIM"]

,COLLNAME,NACC,NUSERS,RNACC,RNUSERS,RTOTCPU,TOTCPU
1728,/DY1JetToLL_M-10To50_TuneZ2_7TeV-madgraph/Fall...,932,9,0.0,0.0,0.0,765

In [25]:
datasets[0][1]

'/2B2C1Jet_TuneZ2_7TeV-alpgen-pythia6/Fall11-PU_S6_START42_V14B-v1/AODSIM'

In [29]:
new_df.loc[new_df['COLLNAME'] == datasets[0][1]]

Empty DataFrame
Columns: [COLLNAME, NACC, NUSERS, RNACC, RNUSERS, RTOTCPU, TOTCPU]
Index: []

In [28]:
datasets.loc[datasets[0] == "/DY1JetToLL_M-10To50_TuneZ2_7TeV-madgraph/Fall11-PU_S6_START42_V14B-v1/AODSIM"]

                                                     0
154  /DY1JetToLL_M-10To50_TuneZ2_7TeV-madgraph/Fall...

In [30]:
new_df.loc[new_df['COLLNAME'] == datasets[0][154]]

,COLLNAME,NACC,NUSERS,RNACC,RNUSERS,RTOTCPU,TOTCPU
1728,/DY1JetToLL_M-10To50_TuneZ2_7TeV-madgraph/Fall...,932,9,0.0,0.0,0.0,765